__pycache__
cache.json
*.ipynb
*ipynb_notebooks
documents/
*pptx
*sqlite
dictionary_builder_for_airports.py
aviation_crash.py
help.txt
aviation/
plane_crash_test.py
secrets.py
doc_cache.json
retrieve_acType_airports.html 
plane_crash.py 
