{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block contents %}
  <div style="background-image:url('/static/img/1.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-size:cover;height:1200px">
    <h1 class="p-3 bg-warning">Welcome to the World of Plane Crashes!</h1>
    <p class="p-4">You can explore airplane crashes in each year, find out where and why they happend, and many more information...<p>

  <div class='container'>
  <form action='/statistics' method='POST'>
    <div class="form-group">
      <p class="font-weight-bold dark-body">To start, choose a year:</p>
      <select class="form-control" id="exampleFormControlSelect1" name="year">
        {% for r in year_list %}
        <option value="{{ r[0] }}">{{ r[0] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <p class="font-weight-bold text-body">Sort by:</p>
      <select class="form-control" id="exampleFormControlSelect1" name="sort">
        <option value="fatalities"> Fatalities </option>
        <option value="country"> Country </option>
        <option value="date"> Date </option>
      </select>
    </div>
      <p class="font-weight-bold dark-body">results by:<p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="show_results" id="exampleRadios1" value="table" checked>
        <label class="form-check-label font-weight-bold text-info" for="exampleRadios1">Table and Plot</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="show_results" id="exampleRadios2" value="plot">
        <label class="form-check-label  font-weight-bold text-info" for="exampleRadios2">Only Plot</label>
    </div>
    <br>
    <button type='submit' class="btn btn-dark">Get Results</button>

  </form>
  </div>
  </div>
{% endblock %}
